BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
//Board pins 12 to 15 are JTAG pins - don't use for other purposes
LOCATE COMP "LED_output" SITE "13" ;//pin1
LOCATE COMP "mode_button" SITE "14" ;//pin2
LOCATE COMP "pin3_sn" SITE "16" ;//pin3 - grouded on Veroboard
LOCATE COMP "load_default_button" SITE "17" ;//pin4
LOCATE COMP "pin5" SITE "20" ;//pin5 - grounded on Veroboard
LOCATE COMP "tenmegclock" SITE "21" ;//pin6
LOCATE COMP "topleft_button" SITE "23" ;//pin7
LOCATE COMP "topright_button" SITE "25" ;//pin8
LOCATE COMP "pin9_jtgnb" SITE "26" ;//pin9 - grounded on Veroboard
LOCATE COMP "bottomleft_button" SITE "27" ;//pin10
LOCATE COMP "bottomright_button" SITE "28" ;//pin11
LOCATE COMP "debug_0" SITE "4" ;//pin16
LOCATE COMP "debug_1" SITE "5" ;//pin17
LOCATE COMP "debug_2" SITE "8" ;//pin18
LOCATE COMP "pump_output" SITE "9" ;//pin19
LOCATE COMP "probe_output" SITE "10" ;//pin20
LOCATE COMP "MW_output" SITE "11" ;//pin21
LOCATE COMP "sample_output" SITE "12" ;//pin22
//inputs
IOBUF PORT "tenmegclock" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "mode_button" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "load_default_button" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "topleft_button" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "topright_button" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "bottomleft_button" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "bottomright_button" PULLMODE=UP IO_TYPE=LVCMOS33 ;
//outputs
IOBUF PORT "LED_output" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pin3_sn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pin5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pin9_jtgnb" IO_TYPE=LVCMOS33 ;
IOBUF PORT "debug_0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "debug_1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "debug_2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pump_output" IO_TYPE=LVCMOS33 ;
IOBUF PORT "probe_output" IO_TYPE=LVCMOS33 ;
IOBUF PORT "MW_output" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sample_output" IO_TYPE=LVCMOS33 ;
